*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --main: #7f5af0;
  --text: #fffffe;
  --black_box: #242629;
  --background:#16161a;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}
@media screen and (max-width: 900px) {
  html {
    font-size: 56.25%;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
}
@media screen and (min-width: 1950px) {
  html {
    font-size: 75%;
  }
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  /*    padding: 3rem;*/
  overflow-x: hidden;
  box-sizing: border-box;
}
