*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --main: #7f5af0;
  --text: #fffffe;
  --black_box: #242629;
  --background: #16161a;
  --box: rgba(192, 192, 192, 0.1);
  --color-first: rgb(255, 215, 0);
  --color-first07: rgba(255, 215, 0, 0.7);
  --color-first01: rgba(255, 215, 0, 0.1);
  --color-win: rgb(44, 182, 125);
  --color-lose: rgb(240, 128, 128);
  --color-win07: rgba(44, 182, 125, 0.4);
  --color-win01: rgba(44, 182, 125, 0.1);
  --color-lose07: rgba(240, 128, 128, 0.4);
  --color-lose01: rgba(240, 128, 128, 0.1);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}
@media screen and (max-width: 900px) {
  html {
    font-size: 56.25%;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
}
@media screen and (min-width: 1950px) {
  html {
    font-size: 75%;
  }
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  /*    padding: 3rem;*/
  overflow-x: hidden;
  box-sizing: border-box;
}
