body {
  background-image: url("/images/tft-board.jpg");
  color: #94a1b2;
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

::-webkit-scrollbar {
  width: 2px;
  border-radius: 1rem;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(var(--main), 0.5);
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border-radius: 1rem;
  background: rgba(var(--main), 0.8);
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  z-index: 20;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border-right: 1px solid rgba(114, 117, 126, 0.7);
  border-left: 1px solid rgba(114, 117, 126, 0.7);
  overflow: hidden;
  padding: 0 2rem 0 2rem;
}
@media screen and (min-width: 1950px) {
  .home {
    width: 60%;
  }
}
@media screen and (max-width: 1550px) {
  .home {
    width: 75%;
  }
}
@media screen and (max-width: 1200px) {
  .home {
    width: 80%;
  }
}
@media screen and (max-width: 1000px) {
  .home {
    width: 90%;
    border-right: none;
    border-left: none;
  }
}
@media screen and (max-width: 600px) {
  .home {
    width: 100%;
    border-right: none;
    border-left: none;
    padding: 0 1rem 0 1rem;
  }
}
.home_title {
  text-align: center;
  width: 60%;
  font-size: 3rem;
  letter-spacing: 0rem;
  font-weight: bold;
  color: var(--text);
  margin-top: 10rem;
}
@media screen and (max-width: 500px) {
  .home_title {
    width: 80%;
    margin-top: 7rem;
  }
}

.home > * {
  margin-bottom: 3rem;
}

.home_img {
  width: 30rem;
  height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.home_form {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
}

.home_form > * {
  padding: 1rem;
  font-family: inherit;
  font-size: 1.6rem;
}

.home_form_region {
  width: 10rem;
  outline: none;
}

.home_form_user {
  width: 35rem;
  outline: none;
}

.home_form_btn {
  height: 100%;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: var(--main);
  width: 5rem;
}

.home_form_btn svg {
  width: 2rem;
  height: 100%;
  fill: var(--text);
  font-weight: bold;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  width: 60rem;
  height: 50rem;
  background-color: var(--text);
  border-radius: 1rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}
@media screen and (max-width: 550px) {
  .popup {
    width: 40rem;
  }
}

.popup_LOGIN_close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 3rem !important;
  height: 3rem !important;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.popup_REGISTER_close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 3rem !important;
  height: 3rem !important;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.popup_form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.popup_form_title {
  font-size: 3rem;
  padding: 2rem;
  padding-bottom: 0;
  color: var(--main);
  font-weight: bold;
}

.popup_form_center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.popup_form_input {
  display: flex;
  align-items: center;
  background-color: rgba(22, 22, 26, 0.1);
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}

.popup_form_input input {
  background-color: transparent;
  font-family: inherit;
  font-size: 1.6rem;
  border: none;
  outline: none;
  margin-left: 1rem;
}

.popup_form_input svg {
  width: 3rem;
  height: 3rem;
}

.popup_form_btn {
  padding: 1rem;
  background-color: var(--main);
  color: var(--text);
  border-radius: 0.5rem;
  font-family: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 1rem;
  width: 50%;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

.popup_form_btn:hover {
  transform: translateY(-2px);
}

.popup_form_btn:active {
  transform: translateY(4px);
}

.popup_form_footer {
  padding: 2rem;
  font-size: 1.4rem;
}

.popup_form_footer_link {
  text-decoration: underline;
  cursor: pointer;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 110;
  background-color: rgba(22, 22, 26, 0.3);
  width: 100%;
  height: 100%;
  transition: all 0.2s;
}
.layer_primary {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  background-color: rgba(22, 22, 26, 0.6);
  width: 100%;
  height: 100%;
}

.hidden_popup {
  top: -100% !important;
  transition: all 0.2s;
}

.login_btn {
  position: absolute;
  top: 1rem;
  right: 2rem;
  color: var(--text);
  background-color: var(--main);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-weight: normal;
  cursor: pointer;
  transition: all 0.2s;
}
.login_btn:hover {
  transform: translateY(-3px);
}
.login_btn:active {
  transform: translateY(1px);
}

.news {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 3rem;
  padding: 1rem;
}
.news_container {
  height: 50vh;
  overflow: auto;
}
@media screen and (max-width: 1050px) {
  .news {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
@media screen and (max-width: 700px) {
  .news {
    grid-template-columns: 1fr;
  }
}
.news_title {
  text-align: left;
  margin-bottom: 2rem;
  color: var(--text);
  font-size: 1.6rem;
}
.news_article {
  align-self: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  outline: 1px solid rgba(169, 169, 169, 0.3);
  outline-offset: -0.5rem;
  transition: all 0.2s;
}
.news_article_details {
  margin-left: 1rem;
}
.news_article_game {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: var(--text);
}
.news_article_description {
  font-size: 1.4rem;
  color: #94a1b2;
  margin-right: 0.5rem;
}
.news_article:hover {
  transform: translateY(-3px);
  outline-offset: 0rem;
}
.news_article:hover .news_img {
  transform: scale(0.9);
}
.news_article:active {
  transform: translateY(3px);
}
.news_img {
  width: 50%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.2s;
}
