body {
  background-color: var(--background);
  overflow: hidden;
}

.hidden {
  display: none;
}

.match {
  color: var(--text);
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
@media screen and (max-width: 1600px) {
  .match {
    width: 90%;
  }
}
@media screen and (max-width: 1600px) {
  .match {
    width: 95%;
  }
}
@media screen and (max-width: 1000px) {
  .match {
    grid-template-columns: 1fr;
  }
}
.match_loading {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
}
.match_error {
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  font-size: 2.5rem;
  color: var(--text);
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-radius: 3px;
  padding: 1rem;
  background-color: var(--black_box);
  border: 1px solid rgba(114, 117, 126, 0.2);
}
@media screen and (max-width: 1500px) {
  .match_error {
    margin-left: 15%;
    margin-right: 15%;
  }
}
@media screen and (max-width: 1000px) {
  .match_error {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media screen and (max-width: 600px) {
  .match_error {
    margin-left: 5%;
    margin-right: 5%;
  }
}
.match_error > * {
  margin-bottom: 3rem;
}
.match_error_name {
  color: var(--main);
}
.match_error_back {
  text-decoration: none;
  background-color: var(--main);
  padding: 0.7rem;
  font-weight: normal;
  color: var(--text);
  font-size: 2rem;
  border-radius: 0.2rem;
}
.match_error_player {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.6rem;
}
.match_error_player > * {
  margin-right: 0.5rem;
}
.match_error_player img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.match_error_player a {
  color: inherit;
}
@media screen and (max-width: 1000px) {
  .match_left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    gap: 1rem;
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  .match_left {
    grid-template-columns: 1fr;
  }
}
.match_profile {
  background-color: var(--black_box);
  border: 1px solid rgba(114, 117, 126, 0.2);
  font-size: 1.4rem;
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 3px;
}
@media screen and (max-width: 1000px) {
  .match_profile {
    margin-bottom: 0;
  }
}
.match_ranks {
  font-size: 1.4rem;
}
.match_summary {
  background-color: var(--black_box);
  border: 1px solid rgba(114, 117, 126, 0.2);
  font-size: 1.4rem;
  width: 100%;
  height: 20rem;
  margin-bottom: 2rem;
  border-radius: 3px;
}
.match_history {
  background-color: var(--black_box);
  border: 1px solid rgba(114, 117, 126, 0.2);
  font-size: 1.4rem;
  width: 100%;
  border-radius: 3px;
  padding: 1rem;
}

.profile {
  color: var(--text);
  background-color: var(--black_box);
  border: 1px solid rgba(114, 117, 126, 0.2);
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: -webkit-min-content -webkit-max-content;
  grid-template-columns: min-content max-content;
  gap: 0.5rem;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2rem 0 2rem;
    text-align: center;
    margin-bottom: 0;
    height: 100%;
  }
  .profile_name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .profile_name svg {
    margin-left: 0rem;
    margin: 0.5rem 0 1rem 0;
  }
}
@media screen and (max-width: 500px) {
  .profile {
    flex-direction: row;
    text-align: left;
    justify-content: flex-start;
    padding: 1rem 0;
  }
  .profile_name {
    display: flex;
    flex-direction: row;
  }
}
.profile_name {
  font-size: 2.4rem;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 500px) {
  .profile_name {
    justify-content: flex-start;
  }
}
.profile_name svg {
  margin-left: 1rem;
  cursor: pointer;
  color: var(--main);
}
@media screen and (max-width: 1000px) {
  .profile_name svg {
    margin-left: 0;
  }
}
@media screen and (max-width: 500px) {
  .profile_name svg {
    margin-left: 1rem;
  }
}
.profile_img {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.profile_img img {
  width: 8rem;
  height: 8rem;
  border: 3px solid rgba(114, 117, 126, 0.5);
}

.ranks {
  margin-top: 1rem;
  background-color: var(--black_box);
  border: 1px solid rgba(114, 117, 126, 0.2);
  font-size: 1.4rem;
  padding: 1rem 0 1rem 0;
  border-radius: 3px;
}
@media screen and (max-width: 1000px) {
  .ranks {
    margin-top: 0;
  }
}
.ranks > *:not(:last-child) {
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(114, 117, 126, 0.2);
  padding-bottom: 1rem;
}
.ranks_rank {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding: 0.5rem;
}
.ranks_rank_img {
  margin-right: 1rem;
}
.ranks_rank_img img {
  width: 9rem;
  height: 8rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.ranks_rank_title {
  font-size: 1.5rem;
  color: gray;
}
.ranks_rank_color {
  color: gray;
}

.win {
  color: var(--color-win);
}

.lose {
  color: var(--color-lose);
}

.first {
  color: var(--color-first);
}

.game {
  padding: 0.5rem;
  margin-bottom: 2rem;
  border-radius: 3px;
  display: grid;
  grid-template-columns: 10% 10% 15% 5% 1fr 5% 3rem;
  align-items: center;
  gap: 2rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 800px) {
  .game {
    grid-template-columns: 10% 10% 15% 5% 1fr 3rem;
  }
}
@media screen and (max-width: 700px) {
  .game {
    grid-template-rows: -webkit-min-content 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 10% 20% 5% 1fr 3rem;
    row-gap: 0.5rem;
  }
}
@media screen and (max-width: 550px) {
  .game {
    grid-template-rows: -webkit-min-content -webkit-max-content -webkit-max-content 1fr;
    grid-template-rows: min-content max-content max-content 1fr;
    row-gap: 1rem;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
}
.game_companionIMG {
  width: 5rem;
  height: 5rem;
  border-radius: 0.8rem;
  border: 2px solid black;
  -o-object-fit: cover;
     object-fit: cover;
}
.game_win {
  background-image: linear-gradient(to left, var(--color-win07), var(--color-win01));
}
.game_lose {
  background-image: linear-gradient(to left, var(--color-lose07), var(--color-lose01));
}
.game_first {
  background-image: linear-gradient(to left, var(--color-first07), var(--color-first01));
}
.game_extend {
  height: 100%;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}
.game_extend_win {
  background-color: var(--color-win07);
  color: #fff;
}
.game_extend_lose {
  background-color: var(--color-lose07);
  color: #fff;
}
.game_extend_first {
  background-color: var(--color-first07);
  color: #72757e;
}
@media screen and (max-width: 700px) {
  .game_extend {
    grid-row: 1/-1;
    grid-column: 5/6;
  }
}
.game_details {
  text-align: center;
}
.game_details_place {
  font-weight: bold;
  font-size: 2rem;
}
@media screen and (max-width: 700px) {
  .game_details {
    grid-column: 1/5;
    display: flex;
    align-items: center;
    padding: 0.3rem;
    border-bottom: 1px solid rgba(114, 117, 126, 0.2);
  }
  .game_details > * {
    margin-right: 1.5rem;
  }
}
.game_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
@media screen and (max-width: 550px) {
  .game_profile {
    grid-row: 2/4;
    grid-column: 1/2;
    align-self: center;
    padding: 1rem;
    margin-left: 1rem;
  }
}
.game_loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  margin-bottom: 2rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.game_traits {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0;
  row-gap: 0.5rem;
}
.game_traits_trait_img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.game_traits_trait_img_TRAIT {
  padding: 1rem;
  width: 4rem;
  height: 4rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 550px) {
  .game_traits {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    grid-column: 2/5;
    grid-row: 2/3;
    justify-self: flex-start;
    align-self: flex-end;
  }
}
.game_auguments {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.game_auguments > * {
  border-radius: 3px;
}
.game_auguments > *:not(:last-child) {
  margin-bottom: 0.5rem;
}
.game_auguments_img {
  width: 3rem;
  height: 3rem;
}
@media screen and (max-width: 550px) {
  .game_auguments {
    grid-column: 2/-1;
    grid-row: 3/4;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-start;
  }
  .game_auguments > * {
    margin-right: 1rem;
  }
}
.game_champs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.game_champs > *:not(:last-child) {
  margin-right: 1.5rem;
}
.game_champs_img {
  width: 4rem;
  height: 4rem;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid black;
  border-radius: 5px;
}
.game_champs_level {
  display: flex;
  align-items: center;
  justify-content: center;
}
.game_champs_level svg {
  width: 1rem;
  height: 1rem;
}
.game_champs_champ {
  position: relative;
}
.game_champs_items {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.game_champs_items > *:not(:last-child) {
  margin-right: 3px;
}
.game_champs_items_img {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid black;
}
@media screen and (max-width: 550px) {
  .game_champs {
    grid-column: 1/5;
    grid-row: 4/5;
    border-top: 1px solid rgba(114, 117, 126, 0.2);
    padding-top: 1rem;
  }
}
.game_stats {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.game_stats > *:not(:last-child) {
  margin-bottom: 0.8rem;
}
.game_stats_item {
  display: flex;
  align-items: center;
}
.game_stats_item img,
.game_stats_item svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  color: #cebe94;
}
@media screen and (max-width: 800px) {
  .game_stats {
    display: none;
  }
}

.advanced {
  grid-column: 1/-1;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding-top: 1rem;
}
.advanced_table {
  text-align: center;
  border-collapse: collapse;
  border-spacing: 1rem;
}
.advanced_table tr,
.advanced_table td,
.advanced_table th {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: all 0.2s;
  vertical-align: center;
}
.advanced_table tr:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.advanced_table_profile {
  display: flex;
  align-items: center;
}
.advanced_table_profile img {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}
.advanced_table_profile a {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s;
}
.advanced_table_profile a:hover {
  text-decoration: underline;
}
.advanced_table_profile_level {
  margin-right: 1rem;
  background-color: var(--main);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
