body {
    background-color: var(--background);
    overflow: hidden;
}

.match {
    color: var(--text);
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;

    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: max-content;

    @media screen and (max-width: 1600px) {
        width: 90%;
    }
    @media screen and (max-width: 1600px) {
        width: 95%;
    }
    @media screen and (max-width: 1000px) {
        grid-template-columns: 1fr;
    }

    &_error {
        margin-left: 30%;
        margin-right: 30%;
        text-align: center;
        font-size: 2.5rem;
        color: var(--text);
        margin-top: 4rem;
        margin-bottom: 4rem;
        border-radius: 3px;
        // height: 100vh;
        padding: 1rem;
        background-color: var(--black_box);
        border: 1px solid rgba(#72757e, 0.2);

        @media screen and (max-width: 1500px) {
            margin-left: 15%;
            margin-right: 15%;
        }
        @media screen and (max-width: 1000px) {
            margin-left: 10%;
            margin-right: 10%;
        }
        @media screen and (max-width: 600px) {
            margin-left: 5%;
            margin-right: 5%;
        }

        & > * {
            margin-bottom: 3rem;
        }
        &_name {
            color: var(--main);
        }

        &_back {
            text-decoration: none;
            background-color: var(--main);
            padding: 0.7rem;
            font-weight: normal;
            color: var(--text);
            font-size: 2rem;
            border-radius: 0.2rem;
        }
        &_player {
            text-align: left;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 1.6rem;

            & > * {
                margin-right: 0.5rem;
            }

            img {
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
            }
            a {
                // text-decoration: none;
                color: inherit;
            }
        }
    }

    &_left {
        @media screen and (max-width: 1000px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: stretch;
            gap: 1rem;
            justify-content: center;
        }
        @media screen and (max-width: 500px) {
            grid-template-columns: 1fr;
        }
    }

    &_right {
    }

    &_profile {
        background-color: var(--black_box);
        border: 1px solid rgba(#72757e, 0.2);
        font-size: 1.4rem;
        width: 100%;
        margin-bottom: 2rem;
        border-radius: 3px;
        @media screen and (max-width: 1000px) {
            margin-bottom: 0;
        }
    }

    &_ranks {
        font-size: 1.4rem;
    }

    &_summary {
        background-color: var(--black_box);
        border: 1px solid rgba(#72757e, 0.2);
        font-size: 1.4rem;
        width: 100%;
        height: 20rem;
        margin-bottom: 2rem;
        border-radius: 3px;
    }

    &_history {
        background-color: var(--black_box);
        border: 1px solid rgba(#72757e, 0.2);
        font-size: 1.4rem;
        width: 100%;
        // height: 100%;
        border-radius: 3px;
        padding: 1rem;
    }
}
.profile {
    color: var(--text);
    background-color: var(--black_box);
    border: 1px solid rgba(#72757e, 0.2);
    font-size: 1.4rem;

    display: grid;
    grid-template-columns: min-content max-content;
    gap: 0.5rem;
    align-items: center;

    @media screen and (max-width: 1000px) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 2rem 0 2rem;
        text-align: center;
        margin-bottom: 0;
        height: 100%;
        // text-align: left;

        &_name {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // padding: .5rem;
            svg {
                margin-left: 0rem;
                margin: 0.5rem 0 1rem 0;
            }
        }
    }
    @media screen and (max-width: 500px) {
        flex-direction: row;
        text-align: left;
        justify-content: flex-start;
        padding: 1rem 0;

        &_name {
            display: flex;
            flex-direction: row;
        }
    }
    &_name {
        font-size: 2.4rem;
        display: flex;
        align-items: center;
        @media screen and (max-width: 500px) {
            justify-content: flex-start;
        }
        svg {
            margin-left: 1rem;
            cursor: pointer;
            color: var(--main);

            @media screen and (max-width: 1000px) {
                margin-left: 0;
            }
            @media screen and (max-width: 500px) {
                margin-left: 1rem;
            }
        }
    }

    &_img {
        display: flex;
        align-items: center;
        img {
            width: 8rem;
            height: 8rem;
            border: 3px solid rgba(#72757e, 0.5);
        }
        padding: 1rem;
    }
}
.ranks {
    margin-top: 1rem;
    background-color: var(--black_box);
    border: 1px solid rgba(#72757e, 0.2);
    font-size: 1.4rem;
    padding: 1rem 0 1rem 0;
    border-radius: 3px;

    @media screen and (max-width: 1000px) {
        margin-top: 0;
    }

    & > *:not(:last-child) {
        margin-bottom: 1rem;
        border-bottom: 1px solid rgba(#72757e, 0.2);
        padding-bottom: 1rem;
    }

    &_rank {
        display: flex;
        align-items: center;
        padding-left: 1rem;
        padding: 0.5rem;

        &_img {
            margin-right: 1rem;
            img {
                width: 9rem;
                height: 8rem;
                object-fit: cover;
            }
        }

        &_title {
            font-size: 1.5rem;
            color: gray;
        }
        &_color {
            color: gray;
        }
    }
}

.win {
    color: var(--color-win);
}
.lose {
    color: var(--color-lose);
}
.first {
    color: var(--color-first);
}

.game {
    padding: 0.5rem;
    margin-bottom: 2rem;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 10% 10% 1fr 1fr 1fr 1fr 3rem;
    align-items: center;
    gap: 2rem;

    &_companionIMG {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        object-fit: cover;
    }

    &_win {
        background-image: linear-gradient(
            to left,
            var(--color-win07),
            var(--color-win01)
        );
    }
    &_lose {
        background-image: linear-gradient(
            to left,
            var(--color-lose07),
            var(--color-lose01)
        );
    }
    &_first {
        background-image: linear-gradient(
            to left,
            var(--color-first07),
            var(--color-first01)
        );
    }

    &_extend {
        height: 100%;
        cursor: pointer;
        border: none;
        border-radius: 3px;

        &_win {
            background-color: var(--color-win07);
            color: #fff;
        }
        &_lose {
            background-color: var(--color-lose07);
            color: #fff;
        }
        &_first {
            background-color: var(--color-first07);
            color: #72757e;
        }
    }

    &_details {
        text-align: center;
        &_place {
            font-weight: bold;
            font-size: 2rem;
        }
    }

    &_profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
    }

    &_loading {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5rem;
        height: 5rem;
        margin-bottom: 2rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    &_traits {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0 !important;

        &_trait {
            // display: flex;
            // align-items: center;

            &_img {
                &_TRAIT {
                    padding: 1rem;
                    width: 4rem;
                    height: 4rem;
                    // heigth: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }
    }
}
